<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>

<body>
    <!-- navigation bar -->
    <nav class="navbar navbar-light bg-light navbar-fixed-top">

        <h1 style="text-align: center;">MINISTRY OF WOMEN & CHILD DEVELOPMENT</h1>
        <a class="navbar-brand" href="#">
            <img src="assets\wm3.png" height="200" width="200" style="margin-bottom: 500px;" class="img1"></a>
        <div class="div1">

            <a class="navbar-brand" routerLink="/home2" routerLinkActive="active">HOME</a>
            <a class="navbar-brand" routerLink="/contact-us" routerLinkActive="active">CONTACT US</a>
        </div>
    </nav>
    
<div class="faq">
    <div class="head">
        <h2><b>Frequently asked questions about  Women Empowerment</b></h2>
     </div>
<div class="para1">
<p>
    <br><br><br>
<b>WHAT ARE THE WOMEN'S EMPOWERMENT PRINCIPLES (WEPs)?</b><br>
The Women's Empowerment Principles offer seven steps to guide business on how to empower women in the workplace, marketplace and community. Subtitled Equality Means Business, the Principles emphasize the business case for corporate action to promote gender equality and women's empowerment and are informed by real-life business practices and input gathered from across the globe.<br><br>

Rather than being prescriptive or a new initiative to which business is asked to subscribe, the WEPs seek to point the way to best practice by elaborating the gender dimension of good corporate citizenship, the UN Global Compact, and business' role in sustainable development.
</p>
</div>
<div class="para2">
    <b>WHO DEVELOPED THE WOMEN'S EMPOWERMENT PRINCIPLES?</b><br>
    The WEPs are the result of a collaboration between the United Nations Entity for Gender Equality and the Empowerment of Women (UN Women) and the United Nations Global Compact (UNGC) and are adapted from the Calvert Women's Principles®.<br><br>

    The Calvert Women's Principles were originally developed in partnership with UNIFEM (now part of UN Women) and launched in 2004 as the first global corporate code of conduct focused exclusively on empowering, advancing and investing in women worldwide.<br><br>
    
    The Women's Empowerment Principles were developed through a year-long international multi-stakeholder consultation process and launched to the global community on International Women's Day 2010 (8 March).<br><br>
</div>
<br><br>
<div class="para3">
    <b>WHO CAN USE THE WOMEN'S EMPOWERMENT PRINCIPLES?</b><br>
    The WEPs were primarily developed for the business community. However, other civil society stakeholders, international organizations and governments have embraced the WEPs as a tool for engaging with the private sector and a reference point for reviewing their own policies and practices related to gender equality and women’s empowerment as a platform and used as input to policy. They are being utilized as a basis for dialogue and action to advance and empower women.
</div><br><br>
<div class="para4">
    <b> WHAT IS THE CEO STATEMENT OF SUPPORT FOR THE WOMEN'S EMPOWERMENT PRINCIPLES?</b><br>
    The CEO Statement of Support for the Women's Empowerment Principles offers business leaders an opportunity to signal their support for the overall goal of advancing and empowering women and specifically, the guidance offered by the WEPs. It also provides a platform for corporate executives to encourage fellow business leaders to support the Principles by signing the Statement.
Signers of the CEO Statement underscore that equal treatment of women and men is not just the right thing to do—it is also good for business and should be a corporate priority.

The Principles were developed as a voluntary framework and resource for companies dedicated to advancing gender equality. Signing the CEO Statement of Support does not constitute any type of binding obligation. However, signing the CEO Statement is a great way to demonstrate the first Principle, which is: “Establish high-level corporate leadership for gender equality”, and it has now been signed by over 550 chief executives of companies around the world.  <br><br>
   
</div>

<div class="para5">
    <b> HOW CAN MY ORGANIZATION SUPPORT THE UN WOMEN/UN GLOBAL COMPACT WOMEN’S EMPOWERMENT PRINCIPLES PARTNERSHIP?</b><br>
    The WEPs Partnership is grateful for financial and in-kind support from the businesses and other organizations.
</div>

</div>

</body>







<div class="footer">
    <small>&copy;2020 MWCD, All rights reserved | Website designed by Team Womania</small>
</div>
</html>



