

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Home</title>
 </head>
 <body>
    <!-- <div class="div1">
        <button style="color: white;background-color:brown ;"><a routerLink ="/home" routarLinkActive="active" >Home</a></button>
      </div> -->
      
    

    <div class="div2" >
        <img class="logo" src="assets\Child.jpg" alt="" width="100">
       <h1>Support to Training and Employment Programme for Women (STEP)</h1>
       
       
    </div>

     <div class="div1">
 <ul>
     <li><a routerLink = "/about-us" routerLinkActive="active">ABOUT US</a></li>
     <li>GUIDELINES</li>
     <li><a routerLink = "/step" routerLinkActive="active">TRAINING SECTORS</a></li>
     <li><a routerLink ="/ngo" routarLinkActive="active" >NGOS</a></li>
     <li><a routerLink ="/registration" routarLinkActive="active" >REGISTRATION</a></li>
     <li>FAQ</li>
 
 </ul>
</div> 