
<!-- <app-step-home></app-step-home> -->
<div class="div1">
    <div class="left-part">
        <h1>SIGN IN</h1>
      <div class="icon">
      <i class="fas fa-user-circle"></i>
    </div>
    <div class="formcontainer">
        
      <div class="container">
      <label for="uname"><strong>Username</strong></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
     
      <label for="psw"><strong>Password</strong></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      </div>

      <button type="submit"><strong>SIGN IN</strong></button>

      <div class="container" >
      <label style="padding-left: 1px">
      <input type="checkbox"  checked="checked" name="remember"> Remember me
      </label>
      <span class="psw"><a href="#">Forgot password?</a></span>
      </div>

    </div>
  </div>
</div>
