.div1{
    background-color: brown;
    padding:15px;
}

/* a{
    font-size: 18px;
    text-decoration: none;
    color: black;
}*/
.div3{
    /* float:right; */
    /* padding-right: 0px; */
    margin-left: 1160px;
    margin-bottom: -20px;
   
}