
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Home</title>
 </head>
 <body>
    <!-- <div class="div1">
        <button style="color: white;background-color:brown ;"><a routerLink ="/home" routarLinkActive="active" >Home</a></button>
      </div> -->
      
    

    <div class="div2" >
        <img class="logo" src="assets\Child.jpg" alt="" width="100">
       <h1>MINISTRY OF WOMEN & CHILD DEVELOPMENT</h1>
       
       
    </div>

     <div class="div1">
 <ul>
     <li><a routerLink = "/about-us" routerLinkActive="active">ABOUT US</a></li>
     <li>LEGISLATIONS & POLICY</li>
     <li><a routerLink = "/login" routerLinkActive="active">STEP</a></li>
     <li><a routerLink ="/ngo" routarLinkActive="active" >NGOS</a></li>
     <li>ADMIN</li>
     <li>FAQ</li>
 
 </ul>
</div> 

<div class="slider">
    <img src="assets\one.jpg" alt="Slide 4" />
    <img src="assets\images.jfif" alt="Slide 3" />
  
    <img src="assets\water.jpg" alt="Slide 2" />
  
    <img src="assets\download.jfif" alt="Slide 1" />
  </div>

  <footer class="footer"> &copy;2020 MWCD, All rights reserved | Website designed by Team Alpha</footer>
     
 </body>
 </html>
 
 
 
 
    
 
