
<div class="div1">
    <h1>About Us</h1>
    <p>
        
    Subscribe To Our Newsletter
    
    NGOs in India have spread like wildfire in the last decade. They are becoming the lifeline of marginalized and disadvantaged communities, giving people a reason to live. Led by an amazing and dedicated group of people, the NGOs are serving in different parts of country. Women’s empowerment is a major issue taken up by some of the organizations. Here are 10 NGOs working in the sector.
    
    
    SEWA 
    The Self Employed Women’s Association (SEWA) was established in 1972 by Ela Bhatt in Gujarat. Originally a trade union, SEWA is now recognized globally. Their main purposes is to strengthen women by giving them identity as informal workers. Beyond that, they try to work on women workers’ rights and to use non-violent methods of demonstrations. SEWA bank, SEWA movement, SEWA Bharat are few of its organizations. As of now, they have 1.9 million women members proudly representing their rights.
    
    Snehalaya 
    Snehalaya was established in 1989, in Ahmednagar, Maharashtra. The NGO works for women and children and LGBT communities affected by poverty. It also works for the uplift of commercial sex workers, aiming to fight HIV and AIDS and to end human trafficking. Their special projects include producing sanitary pads, providing space to women to make and sell their art and to inculcate vital language skills.
    
    NEN: North East Network
    NEN was set up as part of the Beijing World Conference on Women, in 1995. The vision of NEN incorporates upholding gender justice, equality and respect for human rights. It works on areas like gender budgetary allocations and security of women in conflict areas. The organization covers Assam, Meghalaya, Nagaland and other parts of North East India.</p>
</div>